<script>
    export let datapoints = []

    ////////// GENERATE DUMMY DATA
    $: for ( let i = 0 ; i < 30; i++ ) {
        datapoints.push(Math.random()*300)
    }
    //////////
</script>

<style>
    svg {
        background-color: whitesmoke;
    }
    line {
        stroke: steelblue;
        stroke-width: 8;
    }
</style>

<svg width=400 height=400>
    {#each datapoints as datapoint, i}
        <line x1={20+i*10} y1=380 x2={20+i*10} y2={380-datapoint} />
    {/each}
</svg>