<script>
    export let width = 300;
    export let height = 300;
    export let title = "";
    export let padding = {top: 10, bottom: 10, left: 10, right: 10}
</script>

<style>
    .box {
        border-width: 1pt;
        border-style: solid;
        border-color: grey;
        border-radius: 5px;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
        padding-left: var(--padding-left);
        padding-right: var(--padding-right);
    }
    h3 {
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
</style>

<div class="box"
     style="width: {width}px; height: {height}px; padding-top: {padding.top}px; padding-bottom: {padding.bottom}px; padding-left: {padding.left}px; padding-right: {padding.right}px;">
    <h3>{title}</h3>
	<slot></slot>
</div>