<script>
    export let datapoints = []

    ////////// GENERATE DUMMY DATA
    $: for ( let i = 0 ; i < 50; i++ ) {
        let from = Math.floor(Math.random()*360)
        let to = Math.floor(Math.random()*360)
        let x1 = x(200,190,degree2radians(from))
        let y1 = y(200,190,degree2radians(from))
        let x2 = x(200,190,degree2radians(to))
        let y2 = y(200,190,degree2radians(to))
        datapoints.push({from: from, to:to, x1:x1, y1: y1, x2: x2, y2, y2})
    }
    //////////

    const degree2radians = function(degree) {
        return Math.PI*(degree)/180
    }

    const x = function(cx, radius, theta) {
        return Number(cx) + radius*Math.cos(theta)
    }

    const y = function(cy, radius, theta) {
        return Number(cy) + radius*Math.sin(theta)
    }

</script>

<style>
    circle { fill: steelblue; fill-opacity: 0.5; }
    path { stroke: grey; stroke-opacity: 0.5; fill: none; }
</style>

<svg width=400 height=400>
    <circle cx=200 cy=200 r=3 style="fill: black" />
    {#each datapoints as datapoint}
        <circle cx={datapoint.x1} cy={datapoint.y1} r=5 />
        <circle cx={datapoint.x2} cy={datapoint.y2} r=5 />
        <path d="M {datapoint.x1} {datapoint.y1} Q 200 200 {datapoint.x2} {datapoint.y2}" />
    {/each}
</svg>