<script>
    import * as d3 from "d3";
    import AxisX from './AxisX.svelte';
    import AxisY from './AxisY.svelte';
    import Box from './Box.svelte';
    export let datapoints;
    export let my_id;
    export let width = 300;
    export let height = 300;

    let datapointsRangeX = []
    let datapointsRangeY = []
    export let xScale = function() {};
    export let yScale = function() {};
    export let padding = {top: 0, bottom: 50, left: 50, right: 20}
    export let title = "";
    let plotHeight;
    
    $: { if (title == "") {
            plotHeight = height+20
        } else {
            plotHeight = height+60
        }
    }

    $: datapointsRangeX = [0,datapoints.length]
    $: datapointsRangeY = d3.extent(datapoints)

    $: xScale = d3.scaleLinear()
                    .domain(datapointsRangeX)
                    .range([padding.left, width - padding.right])
    $: yScale = d3.scaleLinear()
                    .domain(datapointsRangeY)
                    .range([height - padding.bottom, padding.top])
 
    let lineGenerator = d3.line()
        .x(function(d, i) { return xScale(i); })
        .y(function(d) { return yScale(d); })

</script>

<style>
    .line {
        fill:none;
        stroke: grey;
        stroke-width: 2px;
    }
    .line:hover {
        stroke: red;
    }
    svg {
        border: steelblue;
    }
</style>

<Box title="{title}" width={width} height={plotHeight}>
    <svg width={width} height={height}
        id={my_id}>
        <path d={ lineGenerator(datapoints) } class="line"/>
        <AxisX
            bind:my_id={my_id}
            bind:xScale={xScale} />
        <AxisY
            bind:my_id={my_id}
            bind:yScale={yScale} />
    </svg>
</Box>