<script>
    import BrushXY from './BrushXY.svelte';
    import AxisX from './AxisX.svelte';
    import AxisY from './AxisY.svelte';
    import Box from './Box.svelte';
    import * as d3 from "d3";
    
    export let datapoints = {};
    export let my_id;
    export let x_dim = "x";
    export let y_dim = "y";
    export let width = 300;
    export let height = 300;
    export let padding = {top: 10, bottom: 10, left: 10, right: 10}
    export let title = "";
    export let x_axis_height = 30;
    export let y_axis_width = 30;
    let title_height = 22; // 22px = height of h3 (is used in Box)
    let svg_width;
    let svg_height;
    let plot_height;
    let plot_width;

    // For svg_height and svg_width: DO NOT substract padding.left and padding.right.
    // These are incorporated by making the Box larger rather then the contents smaller.
    $: {
        svg_height = height;
        if ( title != "" ) {
            svg_height -= title_height;
        }
    }
    $: svg_width = width;
    $: plot_height = svg_height - x_axis_height;
    $: plot_width = svg_width - y_axis_width;

    let datapointsRangeX = []
    let datapointsRangeY = []
    export let xScale = function() {};
    export let yScale = function() {};

    $: datapointsRangeX = d3.extent(Object.values(datapoints), d => d[x_dim])
    $: datapointsRangeY = d3.extent(Object.values(datapoints), d => d[y_dim])

    $: xScale = d3.scaleLinear()
                    .domain(datapointsRangeX)
                    .range([y_axis_width, y_axis_width + plot_width])
    $: yScale = d3.scaleLinear()
                    .domain(datapointsRangeY)
                    .range([plot_height - x_axis_height, 0])

    let previouslySelectedDatapointIDs = []
    let selectedDatapointIDs = [] 

    $: {
        let toRemove = previouslySelectedDatapointIDs.filter(x => !selectedDatapointIDs.includes(x))
        let toAdd = selectedDatapointIDs.filter(function(x) { return !previouslySelectedDatapointIDs.includes(x) })

        for ( let id of toRemove ) {
            datapoints[id].selected = false
        }
        for ( let id of toAdd ) {
            datapoints[id].selected = true
        }

        previouslySelectedDatapointIDs = selectedDatapointIDs;
    }
</script>

<style>
    circle {
        fill: grey;
        fill-opacity: 0.5;
    }
    .selected {
        fill: red;
        fill-opacity: 0.8;
    }
</style>

<Box title="{title}" width={width} height={height} padding={padding}>
    <svg
        width={svg_width}
        height={svg_height}
        id={my_id}>

        <BrushXY
            bind:my_id={my_id}
            bind:datapoints={datapoints}
            bind:x_dim={x_dim}
            bind:y_dim={y_dim}
            bind:selectedDatapointIDs={selectedDatapointIDs}
            bind:xScale={xScale}
            bind:yScale={yScale}
            bind:x_axis_height={x_axis_height}
            bind:y_axis_width={y_axis_width}
            on:dblclick={() => selectedDatapointIDs = []} />


        {#each Object.values(datapoints) as datapoint}
            <circle
                class:selected={datapoint.selected}
                cx={xScale(datapoint[x_dim])}
                cy={yScale(datapoint[y_dim])}
                r="3"
            >
                <title>{JSON.stringify(datapoint)}</title>
            </circle>
        {/each}

        <AxisX
            bind:my_id={my_id}
            bind:xScale={xScale}
            height={x_axis_height} />
        <AxisY
            bind:my_id={my_id}
            bind:yScale={yScale}
            width={y_axis_width} />
    </svg>
</Box>