<script>
    import AxisX from './AxisX.svelte';
    import AxisY from './AxisY.svelte';
    import Box from './Box.svelte';
    import * as d3 from "d3";
    export let datapoints = {};
    // export let my_id;
    // export let x_dim = "x";
    export let y_dim = "y";
    export let width = 600;
    export let height = 300;
    export let padding = {top: 0, bottom: 50, left: 50, right: 20}
    export let title = "";

    let barPadding = 2 // Padding between bars
    let datapointsRangeY = []
    // export let widthScale = function() {};
    export let yScale = function() {};

    $: console.log("nr of datapoints: " + Object.values(datapoints).length + "; barWidth: " + barWidth)
    $: barWidth = Math.floor((width - padding.left - padding.right - barPadding) / Object.values(datapoints).length);
    $: datapointsRangeY = d3.extent(Object.values(datapoints), d => d[y_dim])

    $: yScale = d3.scaleLinear()
                    .domain(datapointsRangeY)
                    .range([height - padding.bottom, padding.top])

    let previouslySelectedDatapointIDs = []
    let selectedDatapointIDs = [] 

    $: {
        let toRemove = previouslySelectedDatapointIDs.filter(x => !selectedDatapointIDs.includes(x))
        let toAdd = selectedDatapointIDs.filter(function(x) { return !previouslySelectedDatapointIDs.includes(x) })

        for ( let id of toRemove ) {
            datapoints[id].selected = false
        }
        for ( let id of toAdd ) {
            datapoints[id].selected = true
        }

        previouslySelectedDatapointIDs = selectedDatapointIDs;
    }
</script>

<style>
    rect {
        fill: steelblue;
    }
</style>

<Box title="{title}" width={width} height={height}>
    {#if barWidth > 3}
        <svg
            width={width}
            height={height}>
            {#each Object.values(datapoints) as datapoint, i}
                <rect
                    class:selected={datapoint.selected}
                    x={(barWidth+barPadding)*i}
                    y={height - yScale(datapoint[y_dim])}
                    width={barWidth}
                    height={yScale(datapoint[y_dim])}
                >
                    <title>{JSON.stringify(datapoint)}</title>
                </rect>
            {/each}
        </svg>
    {:else}
    <p>Too many bars to show</p>
{/if}
</Box>