<script>
    import distanceMatrix from 'ml-distance-matrix';
    import { euclidean } from 'ml-distance-euclidean';
    import Heatmap from './Heatmap.svelte';


    ////////// GENERATE DUMMY DATA
    let datapoints = [[251,200,255],     //5
              [250, 0, 253],   //2
              [255, 25, 240],  //0
              [100, 54, 300],    //3
              [50, 27, 100],     //4
              [45,110, 100],    //6
              [20, 120, 102]]     //1
    //////////

    $: matrix = distanceMatrix(datapoints, euclidean);
    $: console.log(matrix)
    let matrix_as_objects = []
    $: {
        for ( let i = 0; i < matrix.length; i++ ) {
            for ( let j = 0; j < matrix.length; j++ ) {
                matrix_as_objects.push({x: i, y: j, val: 1-(matrix[i][j]/337), data: datapoints[i] + " vs " + datapoints[j]})
            }
        }
    }
</script>

<Heatmap datapoints={matrix_as_objects} />