<script>
    import { agnes } from 'ml-hclust';

    export let datapoints = []
    ////////// GENERATE DUMMY DATA
    $: datapoints = [[255, 25, 240],   //0
                     [20, 120, 102],    //1
                     [250, 0, 253],   //2
                     [100, 54, 300],    //3
                     [50, 27, 100],     //4
                     [251,200,255],     //5
                     [45,110, 100]]     //6
    //////////
    $: tree = agnes(datapoints, {
        method: 'ward'
    })

    let dfs_nodes = []
    let running_x = 0
    const augmentNode = function(node) {
        if ( node.isLeaf ) {
            node.level = 0
            running_x += 20
            node.x = running_x
            node.data = datapoints[node.index]
            dfs_nodes.push(node)
        } else {
            let leftNode = augmentNode(node.children[0])
            let rightNode = augmentNode(node.children[1])
            node.level = Math.max(node.children[0].level, node.children[1].level)+1
            node.x1 = node.children[0].x
            node.x2 = node.children[1].x
            node.x = (node.x1 + node.x2)/2
            node.lvl1 = node.children[0].level
            node.lvl2 = node.children[1].level
            node.children = [leftNode, rightNode]
            dfs_nodes.push(node)
        }
        return node
    }

    $: augmentNode(tree)

</script>

<style>
    line {
        stroke: black;
        stroke-opacity: 0.5;
    }
    text {
        font-size: small;
        text-anchor: start;
    }
    circle.leaf {
        fill: var(--fill-colour);
    }
</style>

<svg height=700 width=400>
    {#each dfs_nodes as node}
        <circle cx={node.x} cy={5+node.level*30} r=5 style="--fill-colour:rgb({node.data});"
                class:leaf={node.level == 0}>
            <title>{node.data}</title>
        </circle>
    {/each}
    {#each dfs_nodes as node}
        {#if ( node.level > 0 )}
            <line x1={node.x1} y1={5+node.level*30} x2={node.x2} y2={5+node.level*30} />
            <line x1={node.x1} y1={5+node.level*30} x2={node.x1} y2={(5+node.lvl1*30)} />
            <line x1={node.x2} y1={5+node.level*30} x2={node.x2} y2={(5+node.lvl2*30)} />
        {/if}
    {/each}

    <!-- {#each dfs_nodes as node}
        <circle cx={node.x} cy={400-(node.level*50)} r=5>
            <title>{node.data}</title>
        </circle>
    {/each}
    {#each dfs_nodes as node}
        {#if ( node.level > 0 )}
            <line x1={node.x1} y1={400-(node.level*50)} x2={node.x2} y2={400-(node.level*50)} />
            <line x1={node.x1} y1={400-(node.level*50)} x2={node.x1} y2={400-(node.lvl1*50)} />
            <line x1={node.x2} y1={400-(node.level*50)} x2={node.x2} y2={400-(node.lvl2*50)} />
        
        {:else}
            <text x={node.x} y={420} transform="rotate(90 {node.x},420)">{node.data}</text>
        {/if}
    {/each} -->

    <!-- {#each dfs_nodes as node}
        <circle cx={node.x} cy={node.height} r=5>
            <title>{node.data}</title>
        </circle>
    {/each}
    {#each dfs_nodes as node}
        {#if ( node.level > 0 )}
            <line x1={node.x1} y1={node.height} x2={node.x2} y2={node.height} />
            <line x1={node.x1} y1={node.height} x2={node.x1} y2={node.y1} />
            <line x1={node.x2} y1={node.height} x2={node.x2} y2={node.y2} />
        {/if}
    {/each} -->

</svg>