<script>
    export let datapoints = []

    ////////// GENERATE DUMMY DATA
    $: {
        if ( datapoints.length == 0 ) {
            for ( let i = 0; i < 50; i++ ) {
                for ( let j = 0; j < 50; j++ ) {
                    datapoints.push({x: i, y: j, val: Math.random()})
                }
            }
        }
    }
    //////////
</script>

<svg
    width=600
    height=150>
    {#each datapoints as datapoint}
        <rect x={10+datapoint.x*20} y={datapoint.y*20} width=18 height=18 style="fill-opacity: {datapoint.val};">
            <title>{datapoint.val}</title>
        </rect>
    {/each}
</svg>
