<script>
    export let datapoints = []

    ////////// GENERATE DUMMY DATA
    $: for ( let i = 0 ; i < 30; i++ ) {
        datapoints.push(Math.random()*100)
    }
    //////////

    const lineGenerator = function(d) {
        let path = "M 10 " + (380-d[0])
        for ( let i = 1; i < d.length; i++ ) {
            path += " L " + (i*10) + " " + (380-d[i])
        }
        return path
    }
</script>

<style>
    svg {
        background-color: whitesmoke;
    }
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
</style>

<svg width=400 height=400>
    <path d={lineGenerator(datapoints)} />
</svg>