<script>
    import { onMount } from 'svelte';
    import * as d3 from "d3";
    import BrushXY from './BrushXY.svelte';

    export let datapoints = {};
    export let links = [];

    export let my_id;
    export let x_dim = "x";
    export let y_dim = "y";

    $: nodes = Object.values(datapoints)
    $: links = links
	let draggedNode = null;
    let simulation;
    
	function dragNode(event) {
		if ( draggedNode ) {
			datapoints[draggedNode].x = event.offsetX;
            datapoints[draggedNode].y = event.offsetY;
            datapoints[draggedNode].cx = datapoints[draggedNode].x
            datapoints[draggedNode].cy = datapoints[draggedNode].y
            ticked()
		}
    }
    
    onMount(runSimulation);

    function ticked() {
        for (let node of nodes) {
            node.cx = node.x
            node.cy = node.y
        }
        nodes = nodes
        links = links
        // simulation.tick()
    }

    function runSimulation() {
        simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(d => d.id))
            .force("charge", d3.forceManyBody().strength(-30))
            .force("center", d3.forceCenter(300,300))
            .on('tick', ticked)
    }

    let previouslySelectedDatapointIDs = []
    let selectedDatapointIDs = []

    $: {
        let toRemove = previouslySelectedDatapointIDs.filter(x => !selectedDatapointIDs.includes(x))
        let toAdd = selectedDatapointIDs.filter(function(x) { return !previouslySelectedDatapointIDs.includes(x) })

        for ( let id of toRemove ) {
            datapoints[id].selected = false
        }
        for ( let id of toAdd ) {
            datapoints[id].selected = true
        }

        previouslySelectedDatapointIDs = selectedDatapointIDs;
    }
</script>

<style>
	circle {
		fill: steelblue;
        visibility:visible; 
	}
    circle:hover {
        fill: red;
    }
    line {
        stroke: #999;
        stroke-opacity: 0.6;
    }
    .selected {
        fill: red;
        r: 7;
    }
</style>

<svg
    id={my_id}
    width="600"
    height="600"
    on:mousemove={dragNode}
    on:mouseup={() => { if ( draggedNode ) { runSimulation() }; draggedNode = null; }}>
    {#each links as link}
    <line x1='{link.source.x}' y1='{link.source.y}' 
            x2='{link.target.x}' y2='{link.target.y}' >
            <title>{link.source.id}</title>
    </line>
    {/each}

    <BrushXY
        bind:my_id={my_id}
        bind:datapoints={datapoints}
        bind:x_dim={x_dim}
        bind:y_dim={y_dim}
        bind:selectedDatapointIDs={selectedDatapointIDs}
        on:dblclick={() => selectedDatapointIDs = []} />

	{#each nodes as point}
        <circle
            class:selected={point.selected}
            cx={point.cx}
            cy={point.cy}
            r="5"
            on:mousedown={() => { draggedNode = point.id ; runSimulation() } }
            />
    {/each}
</svg>