<script>
    export let datapoints = []

    ////////// GENERATE DUMMY DATA
    $: for ( let i = 0 ; i < 50; i++ ) {
        let x = Math.random()*400
        let y = Math.random()*400
        datapoints.push({x: x, y:y})
    }
    //////////
</script>

<style>
    circle {
        fill: steelblue;
    }
</style>

<svg width=400 height=400>
    {#each datapoints as datapoint}
        <circle cx={datapoint.x} cy={datapoint.y} r=5/>
    {/each}
</svg>