<script>
    import Scatterplot from './Scatterplot.svelte';
    import NodeLink from './NodeLink.svelte';
    import LineChart from './LineChart.svelte';
    import MultilineChart from './MultilineChart.svelte';
    
    export let datapoints = {}
    export let links = []
    export let linechart_data = []
    export let multiline_data = []
</script>

<style>
    .container {
        display: flex;
        align-items: flex-end;
    }
</style>

<h1>Line chart</h1>
<section class="container">
    <LineChart title="Plot 5" bind:datapoints={linechart_data} my_id="plot5"/>
    <MultilineChart title="Plot 6" my_id="plot6" width="600" bind:datapoints={multiline_data}/>
</section>
<h1>Scatterplots</h1>
<section class="container">
    <Scatterplot title="Plot 1: x vs y" width=300 my_id="plot1" x_dim="my_x" y_dim="my_y" bind:datapoints={datapoints}/>
    <Scatterplot my_id="plot2" x_dim="my_x" y_dim="my_z" bind:datapoints={datapoints}/>
    <Scatterplot title="Plot 3: y vs z" my_id="plot3" x_dim="my_y" y_dim="my_z" bind:datapoints={datapoints}/>
</section>
<h1>Node link diagram</h1>
<NodeLink my_id="plot4" bind:datapoints={datapoints} bind:links={links} />
