<script>
	import Visualisation from './components/Visualisation.svelte'
    import datapoints from './data'
    import links from './links'

    let linechart_data = [5,2,6,8,3,1,5,7,4,3,7,4,8,9,2,4,7]
    let multiline_data = []
    for ( let i = 0; i < 3; i++ ) {
        let series = []
        let number = Math.random()*20;
        series.push(number)
        for ( let j = 0; j < 50; j++ ) {
            let delta = (Math.random()-0.5) * 2
            number += delta
            series.push(number)
        }
        multiline_data.push(series)
    }
</script>


<main>
    <Visualisation datapoints={datapoints} links={links} linechart_data={linechart_data} multiline_data={multiline_data}/>
</main>